<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InitialDataSourcePath" value="C:\ProgramData\Simicon\grabberd" />
    <add key="ProcessedDataSourcePath" value="C:\ProgramData\Simicon\grabberd\cache" />
    <add key="API_URL" value="http://binarservice.azurewebsites.net" />
    <add key="SPEED_LIMIT" value="30" />
    <add key="Port" value="8808" />
    <add key="Ip" value="192.168.3.11" />
    <add key="blobStrgConnection" value="DefaultEndpointsProtocol=https;AccountName=binar;AccountKey=FMrZapsHBZHGWBMUXVumzhyWfBTO4E5xlE3n4PaRy62Dyzu9R3RrAgHw/PyXhQtuqh9n8w/LDZVkwKwq0X19iA==;EndpointSuffix=core.windows.net" />
    <add key="blobStrgContainer" value="imgcontainer" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>