<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
    </configSections>

  <appSettings>    
    <!--
    <add key="blobStrgConnection" value="DefaultEndpointsProtocol=https;AccountName=binar;AccountKey=FMrZapsHBZHGWBMUXVumzhyWfBTO4E5xlE3n4PaRy62Dyzu9R3RrAgHw/PyXhQtuqh9n8w/LDZVkwKwq0X19iA==;EndpointSuffix=core.windows.net" />
    <add key="blobStrgContainer" value="imgcontainer" />
    -->
    <add key="blobStrgConnection" value="DefaultEndpointsProtocol=https;AccountName=binarblobstorage;AccountKey=4QrKM7tgIAJWyzsicLBGb55oZvMxKfWlJmXi2XGsTse/04WlfWWVnvpYrfE6UV7+u2HbQjmAIH41hnydKZXSrw==;EndpointSuffix=core.windows.net"/>
    <add key="blobStrgContainer" value="imgcontainer"/>
  </appSettings>
  <connectionStrings>
    <add name="BinarContext" connectionString="Server=tcp:rapidsqlserver.database.windows.net,1433;Initial Catalog=rapiddb;Persist Security Info=False;User ID=rootadmin;Password=Qwerty123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>